extends layout

block content
  .wrapper
    header#header
      .container
        .logo
          a(href='#')
            img(src='images/logo_img.png', height='50', width='86', alt='')
    .main_content
      .container
        .section
          .section_logo
            img(src='images/logo.png', alt='')
          .section_form
            form(name="login", action="/login", method="post")
              input.username(type='text', name='user', placeholder='Username')
              input.password(type='password', name='pass', placeholder='password')
              input.sign(type='submit', name='sign', value='Sign In')
    footer#footer
