doctype html
html
  head
    meta(charset='UTF-8')    
    title Timeli Self Service Application
    <!--script(type='text/javascript', src='//code.jquery.com/jquery-2.1.4.min.js')-->
    <!--link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')-->
    <!--script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js')-->
    <!--link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')-->
    <!--link(href='stylesheets/login.css', rel='stylesheet', type='text/css', media='all')-->
    <!--link(rel='icon', href='https://www.timeli.io/wp-content/uploads/2015/06/bird-favicon-32x32.gif', type='image/gif')-->
    link(rel='icon', href='/images/favicon.png', type='image/png')
  body
    #root.main
    script(src='/static/bundle.js')
    
